:root{
    --brown-color: rgba(72, 30, 16, 0.834);
    --black-color: #0A0A0B;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Poppins;
}

#navbar{
    background-color:transparent;
    height: 80px;
    width: 100%;
    display:flex;
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    width:100%;     
    z-index: 999;
    transition: all 0.2s ease-in-out;
    padding: 30px;
}

.navbarCart{
    background-color:var(--black-color);
    height: 80px;
    width: 100%;
    display:flex;
    justify-content: space-between; 
    align-items: center;
    width:100%;     
    z-index: 999;
}

.logoNavbar{
    background-image: url('images/logo.png');
    background-size:contain;
    background-repeat: no-repeat;
    width:70px;
    height:70px; 
    cursor: pointer;
    margin-top: 15px;

}

#navMenu, .cart{
    display:flex;
    font-family: roboto;
    font-size: clamp(1rem, 0.9423rem + 0.3077vw, 1.25rem);  
    color: white;
    cursor:pointer;
    text-transform: uppercase;
}


#navMenu div{
    margin:0px 20px 0 20px;
  
}

#navMenu div:hover,
.cart:hover {
    background-color: white;
    border-radius: 2px;
    color:black;
}

.cart{
    font-size: 22px;
}

#mobileNav{
    display:none;
    justify-content: center;
    text-align: center;
    color:white;
    margin:auto;
    font-size: 30px;
    cursor:pointer;
}


.background{
    background-image: url('/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    width:auto;
}

.gridHeader {
    display:grid;
    position:relative;
    top:100px;
    gap:150px;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.shopText div {
    width:450px;
    margin-bottom:20px;
}

.textHeader{
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    font-family: chivo mono;
    font-weight: 1000;
    color:White;
}

.subtextHeader{
    font-size: 16px;
    color:white;
}

.shopNow{
    min-width:150px;
    height: 50px;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border:none;
}
.shopNow:hover{
    color:white;
    background-color: var(--black-color);
    border:1px solid white;
}

.imageHeader{
    background-image:url('/images/main.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:500px;
    height: 500px;
}

.gridDesc{
    display:flex;
    justify-content: center;
    padding: 50px;
    gap:50px;
    height: fit-content;

}

.gridDesc h2{
    margin-bottom: 20px;
    text-transform: uppercase;
}

.imageAbout{
    background-image: url('/images/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width:550px;    
    height: 350px;
    border-radius: 10px;
}

.description div, h2{
    max-width: 450px;
    font-family: roboto;
    border-radius: 10px;
    max-height: 310px;
    overflow:hidden
}

.descBtn{
    width:150px;
    height: 50px;
    font-size: 20px;
    margin-top:20px;
    background-color: var(--black-color);
    color:white;
    outline:none;
    border:none;
    cursor:pointer
}

.descBtn:hover{
    background-color: white;
    color:var(--black-color);
    border:1px solid var(--black-color)
}

.headerItems{
    display:flex;
    margin:50px;
    padding: 10px;
    justify-content: center;
    font-size: 45px;
    font-family: Roboto;
    text-transform: uppercase;
    border-bottom:1px solid black
}

.gridList{
    display:grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    gap:50px;
}

.gridItems{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border:1px solid black;
    width:300px;
    height: 300px;
    box-shadow: 3px 3px 3px 1px rgb(53, 53, 53);
    background-color: #ebebeb;
    border-radius: 10px;
}

.shopItems{
    background-color: rgb(245, 245, 245);
    margin:50px
}

.gridImage{
    width:150px;
    height: 150px;
    display:flex;
}
.productTitle{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 50px;
    font-size: 20px;
    background-color:var(--brown-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.selectButtons{
    display:flex;
    position: relative;
    justify-content:center;
    align-items: center;
    width:300px;
    height: 50px;
    gap:70px;
    background-color: rgb(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.priceTag{
    background-color: rgb(22, 22, 22);
    border:2px solid black;;
    color:white;
    width:70px;
    height: 30px;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.addCart{
    background-color: rgb(22, 22, 22);
    border:1px solid black;
    color:white;
    width:70px; 
    height: 30px;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.addCart:hover{
    background-color: white;
    border:2px solid black;;
    color:black;
}

.cartNumber{
    display:flex;
    position: absolute;
    top:20px;
    right:20px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    background-color: #f30f26;
    border-radius: 50%;
    width:20px;
    height: 20px;
    pointer-events: none;
}

.reviews{
    display:grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    margin-top:100px;
    gap:100px;
    background-color: var(--black-color);
    padding: 100px;
}

.reviewPhoto1{
    background-image:url('/images/rev1.jpg');
}
.reviewPhoto2{
    background-image:url('/images/rev2.jpg');
}
.reviewPhoto3{
    background-image:url('/images/rev3.jpg');
}

.revPhoto{
    display: flex;
    position: relative;
    background-size:300px 300px;
    background-repeat: no-repeat;
    width:300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 2px 2px 7px 2px rgb(54, 54, 54);
}

.reviewText{
    color:white;
    font-size: 16px;
    display:flex;
    position: absolute;
    text-align: center;
    bottom: -80px;
}

.footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  .footer a {
    color: #555;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }

/*Shopping cart page */
  
.itemContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255)
}

.itemContainer:nth-child(odd){
    background-color: rgb(233, 233, 233)
}

.itemPhoto{
    width:170px;
    height: 100px;
}

.itemDescription{
    margin:5px;
    align-items: center;
    font-size:12px;
}
.itemDescription h4{
    margin-bottom: 10px; 
}

.photoDesc{
    display: flex;
}

.itemPrice{
    margin:5px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.price{
    font-size: 14px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.quantity{
    font-size: 14px;
}
.plusMinus{
    display:flex;
    align-items: center;
    text-align: center;
    gap:5px;
    margin-bottom: 10px;
}

.plus, .minus{
    width:16px;
    height: 16px;
    border-radius: 50%;
    font-size: 14px;
    background-color: var(--black-color);
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.removeButton{
    border: 1px solid black;
    font-size: 14px;
    padding: 2px;
    cursor:pointer;
    border-radius: 2px;
}

.removeButton:hover{
    background-color: black;
    color:white;
}
.checkout{
    justify-content:center;
    align-items: center;
    min-height: 50px;
    background-color: var(--black-color);
    color:white;
    display:flex;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.checkout:hover{
    background-color: black;
}


.total{
    min-height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(72, 30, 16, 0.834);
    color:white;
    justify-content:space-between;
    align-items: center;
    display: flex;
    position: relative;
    padding: 5px 15px 5px 0px;
    border-bottom: 1px solid black;

}

.cartContainer{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width:500px;
    min-height: 300px;
    max-height: 400px;
    position: fixed;
    top:80px;
    right: 25px;
    border:1px solid black;
    display:none;
    justify-content: space-between;
    flex-direction: column;
}

.emptyCart{
    display:none;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.totalItems{
    font-size: 18px;
    position: relative;
    margin:auto;
}

.cartList{
    overflow: scroll;
}

















@media (max-width:750px) {
    #navMenu{
        position: absolute;
        flex-direction: column;
        left:0; 
        right: 0;
        top:80px;
        text-align: center;
        background-color: rgba(250, 250, 250, 0.749);
        color:black;
        width:100%;
        display:none;

        
    }
    #navMenu div{
        margin:0;
        padding:12px;

    }
    #mobileNav{
        display:flex;
    }
    #navMenu div:hover{
        background-color: var(--black-color);
        color:white;
    }
    .cart{
        margin-left:50px;
    }
}

